body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #1e1e2f; /* Dark background */
    color: #ffffff;
}

h1 {
    font-size: 2.5rem;
    color: #ff9f43; /* Accent color for header */
    margin-bottom: 20px;
}

.container-2048 {
    border: 2px solid #ff9f43; /* Accent color for container */
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #1e1e2f; /* Darker background for container */
    width: 80%;
    max-width: 600px;
    text-align: center;
}

#game-grid {
    display: inline-block;
    margin: 20px auto;
}

.row {
    display: flex;
}

.cell {
    width: 50px;
    height: 50px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4e84c7; /* Accent color for cells */
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

.cell:empty {
    background-color: #2d2d40; /* Darker background for empty cells */
}

.buttons {
    margin-top: 20px;
}

button, .backhome-btn {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1rem;
    color: white;
    background-color: #1e1e2f;
    border: 1px solid #ff9f43;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

button:hover, .backhome-btn:hover {
    background-color: #ff9f43; /* Lighter background on hover */
}

/* .scoreTable {
    margin-top: 20px;
    width: 80%;
    max-width: 600px;
} */