body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #1e1e2f; /* Dark background */
    color: #ffffff;
}

h1 {
    font-size: 2.5rem;
    color: #ff9f43; /* Accent color for header */
    margin-bottom: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ff9f43; /* Accent color for container */
    border-radius: 10px;
    background-color: #2d2d40; /* Darker background for container */
    box-sizing: border-box;
}

h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}

input, button, .backhome-btn, .restart-btn {
    padding: 0.5rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ff9f43; /* Accent border for input and button */
    background-color: #2d2d40; /* Darker background for input and button */
    color: #ffffff;
}

button, .backhome-btn, .restart-btn {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, .backhome-btn:hover, .restart-btn:hover {
    background-color: #ff9f43; /* Lighter background on hover */
    color: #ffffff;
}

a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #ff9f43;
}

a:hover {
    color: #ff9f43;
}